<div class="form-group">
  <div class="container">
    <div class="label-container">
      <label *ngIf="label">{{ label }}</label>
      <span *ngIf="required" class="field-mark">*</span>
    </div>
    <div class="select selected-value" (click)="toggleDropdown()" [class.open]="isDropdownOpen">
      <span>{{ selectedValue || 'Выберите значение' }}</span>
      <svg
      class="arrow"
      [class.open]="isDropdownOpen"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8 10L12 14L16 10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div>
    <div class="dropdown" *ngIf="isDropdownOpen">
      <div 
        *ngFor="let choice of choices" 
        class="dropdown-item" 
        [class.selected]="choice === selectedValue"
        (click)="selectChoice(choice)"
        (mouseover)="hoveredItem = choice"
        [class.hovered]="hoveredItem === choice"
      >
        {{ choice }}
      </div>
    </div>
  </div>  
  <small *ngIf="description" class="description-text">{{ description }}</small>
</div>