.form-group {
    margin-bottom: 15px;
    display: flex;
  
    .field-mark {
      color: red;
    }

    .form-control {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }