.form-check {
    display: flex;
    margin-bottom: 15px;
    
    .label-container {
      width: 20%;
    }
    label {
    }

    .field-mark {
      color: red;
    }

    .form-check-input {
      margin-right: 10px;
    }
  
    .form-check-label {
      display: inline-block;
    }
  }